<div class="wrapper">
  <div class="row">
    <div class="col-sm-3 p0">
      <mat-form-field class="select-model" appearance="fill">
        <mat-label>Formatuj z</mat-label>
        <mat-select (valueChange)="setListFormatsTo($event)">
          <mat-option *ngFor="let format of formats" [value]="format">
            {{ format }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- SEPARATOREY -->
      <mat-form-field
        *ngIf="formatFrom === 'CSV'"
        class="select-model"
        appearance="fill"
      >
        <mat-label>Wybierz separator</mat-label>
        <mat-select (valueChange)="setSeparator($event)">
          <mat-option *ngFor="let separator of separators" [value]="separator">
            {{ separator }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-sm-3 select-model p0">
      <mat-form-field
        style="
          position: relative;
          background-color: rgb(245, 244, 244);
          height: 50px;
          top: 20px;
          padding-top: 13px;
        "
      >
        <ngx-mat-file-input
          [placeholder]="'Wybierz plik'"
          (change)="handleFileInput($event.target.files)"
        ></ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-sm-3 select-model p0">
      <button mat-raised-button class="standard-button" (click)="uploadFile()">
        Konwertuj plik
      </button>
    </div>
    <div class="col-sm-3 p0">
      <mat-form-field class="select-model" appearance="fill">
        <mat-label>Formatuj do</mat-label>
        <mat-select (valueChange)="setFormatTo($event)">
          <mat-option
            *ngFor="let format of formatsWithoutSelected"
            [value]="format"
          >
            {{ format }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- SEPARATORY -->
      <mat-form-field
        *ngIf="formatTo === 'CSV'"
        class="select-model"
        appearance="fill"
      >
        <mat-label>Wybierz format</mat-label>
        <mat-select (valueChange)="setSeparator($event)">
          <mat-option *ngFor="let separator of separators" [value]="separator">
            {{ separator }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div style="margin-top: 30px" class="row">
    <div
      style="
        width: 800px;
        height: 150px;
        background-color: rgb(245, 244, 244);
        left: 50px;
      "
      class="col-sm-11"
    >
      <span
        style="position: relative; display: block; top: 10px"
        class="download"
        >Skonwertowany plik:</span
      >
      <span
        *ngIf="filenameToDownLoad !== ''"
        style="
          position: relative;
          display: block;
          top: 10px;
          margin-top: 10px;
          color: crimson;
        "
        >{{ filenameToDownLoad }}</span
      >

      <span
        *ngIf="filenameToDownLoad === ''"
        style="
          position: relative;
          display: block;
          top: 10px;
          margin-top: 10px;
          color: crimson;
        "
        >Brak pliku do pobrania.</span
      >

      <button
        *ngIf="filenameToDownLoad !== ''"
        mat-raised-button
        class="standard-button"
        style="
          position: relative;
          display: block;
          top: 25px;
          background-color: #3f51b5;
          color: white;
        "
        (click)="downloadFile()"
      >
        Pobierz plik
      </button>
      <div
        style="width: 200px; margin-top: 20px"
        *ngIf="isFailedFormat"
        class="alert alert-danger"
        role="alert"
      >
        Niezgodny format pliku!
      </div>
      <div
        style="width: 200px; margin-top: 20px"
        *ngIf="isFailedToFormat"
        class="alert alert-danger"
        role="alert"
      >
        Format docelowy jest niewybrany!
      </div>
      <div
        style="width: 200px; margin-top: 20px"
        *ngIf="isFailedFromFormat"
        class="alert alert-danger"
        role="alert"
      >
        Format początkowy jest niewybrany!
      </div>
      <div
        style="width: 200px; margin-top: 20px"
        *ngIf="isFailedFile"
        class="alert alert-danger"
        role="alert"
      >
        Plik nie został wybrany!
      </div>
    </div>
  </div>
</div>
